/* Imports include Fonts and url */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* Define variables */

:root {
   
    /* Colors */
    --black: #000000;
    --black_alternative: #191919;
    --red: #D34549;
    --beige: #E6EBE0;
    --aqua: #5CA4A9;
    --black_background: #1D1C1C;
    --yellow: #F4F1BB;
    --animal: #FE0435;
    --gray: #9BC1BC;
     /* Images */
    --width-icon: auto;
    --height-icon:33px;
     /* Fonts */
    --titles:'Open Sans', sans-serif;
    --text:'Roboto',  sans-serif;
 }


/* ------------------------  General styles  --------------------- */

body{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    background-color: var(--black_background);
}

h1{
    font-family: var(--titles);
    font-size: 50px;
}

h3{
    font-family: var(--text);
    font-size: 18px;
    font-weight: 500;
}

h5{
    margin: 0;
    font-family: var(--text);
    font-size: 12px;
    color: var(--black_alternative);

    
}

h1, h3{
    color: white;
    text-align: center;
}

.video , .stats , .fakenews , .utilinformation , .impact , .hero {
    padding: 0 20px;
}

/*  --------------------- Header   ---------------------*/
.header{
    width: 100%;
    height: auto;
    background-color: var(--red);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav{
    width: auto;
    height: auto;
}

.header__nav--list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    align-items: center;
}
.header__nav--list li{
    justify-content: space-between;
    padding-right: 20px;
    color: white;
    /* font-size: var(--titles); */
}

.header__nav img{
    display: none;
}

/* --------------------- Hero  ---------------------*/

.hero {
    display: grid;
    grid-templete-columns: repeat(2,1fr);
    padding: 60px 20px;
    width:auto; 
    height: auto;
    justify-items: center;
}

.hero__img{
    width: 415px;
    height: 232px;
    padding-bottom: 50px;
}

.hero__text{
    text-align: center;
    padding: 50px 0 ;

}
.hero__button{
    width: 170px;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    text-decoration: none;
    

}

.hero__button img{
    width: 36px;
    height: 36px;
    padding-bottom: 5px;
}

/* ---------------------  Social Media ---------------------  */

.socialmedia{
    display: inline-flex;
}

/* ---------------------  Video ---------------------  */



/* ---------------------  Stats ---------------------  */


/* ---------------------  Fake news ---------------------  */



/* ---------------------  Util information ---------------------  */


/* ---------------------  Impact ---------------------  */


/* ---------------------  Footer ---------------------  */



/*  -----------------------------------------------------------------    */
/*  ----------------------   RESPONSIVE DESIGN ----------------------    */
/*  -----------------------------------------------------------------    */
/*  -----------------------------------------------------------------    */



@media (max-width:899px){

.header{
    padding: 0px 20px;
}

.header__nav{
    display: none;
}

.header__figure--logotipo img{
    width: 30px;
    height: 40px;
}

}

 @media (min-width:900px){

.header{
    width: auto;
    height: 180px;
    justify-content: space-between;
    padding: 0 50px;
}

/* .header__nav{
    display: flex;
} */


.header__figure--menu{
    display: none;
}

    } 